<h1 mat-dialog-title>New Block</h1>
<div mat-dialog-content>
  <p>New Block Data:</p>
  <mat-form-field [color]="color" (click)="onFieldClick()" (keyup.enter)="submit()">
    <input matInput [(ngModel)]="data.newBlockData" cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <!--<button mat-button [mat-dialog-close]="data.newBlockData">Create</button>-->
  <button mat-button (click)="submit()">Create</button>
</div>