table {
    position: absolute;
    left: .5%;
    width: 99%;
}

.mat-row:hover {
    background-color: #666666;
}

.subheader {
    /*background-color: #c53c5d;*/
    font-size: 20px;
    height: 45px;
}

mat-progress-spinner {
    position: absolute;
    width: 30%;
    top: 40%;
    left: 40%;
}