<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content (keyup.enter)="login()">
    <table>
      <td>
        <tr>
          <mat-form-field appearance="outline">
              <input matInput type="email" class="field" name="email" placeholder="Email" [(ngModel)]="user_cred.email">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field appearance="outline">
              <input matInput type="password" class="field" name="pword" placeholder="Password" [(ngModel)]="user_cred.pword">
          </mat-form-field>
        </tr>
      </td>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <table>
      <td>
        <tr><button mat-raised-button color="primary" (click)="login()">Login</button></tr>
      </td>
        &nbsp;&nbsp;&nbsp;
      <td>
        <tr><mat-checkbox [(ngModel)]="remember_me">Remember Me</mat-checkbox></tr>
      </td>
    </table>
  </mat-card-actions>
</mat-card>
<mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>