<h1 mat-dialog-title>New Group</h1>
<div mat-dialog-content>
  <mat-form-field (click)="onFieldClick('Name')" color="nameColor">
    <input matInput placeholder="Name" [(ngModel)]="data.groupName">
  </mat-form-field>
  <mat-accordion (keyup.enter)="submit()">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Select Groups</mat-panel-title>
      </mat-expansion-panel-header>
      <!--<cdk-virtual-scroll-viewport itemSize="50">-->
      <mat-selection-list color="groupsColor" [(ngModel)]="data.selectedGroups">
        <!--<div *cdkVirtualFor="let user of data.users">{{user.name}}</div>-->
        <mat-list-option *ngFor="let group of groups" value={{group.id}}>
          {{group.name}}
        </mat-list-option>
      </mat-selection-list>
      <!--</cdk-virtual-scroll-viewport>-->
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Select Users</mat-panel-title>
      </mat-expansion-panel-header>
      <!--<cdk-virtual-scroll-viewport itemSize="50">-->
      <mat-selection-list color="usersColor" [(ngModel)]="data.selectedUsers">
        <!--<div *cdkVirtualFor="let user of data.users">{{user.name}}</div>-->
        <mat-list-option *ngFor="let user of users" value={{user.id}}>
          {{user.name}}
        </mat-list-option>
      </mat-selection-list>
      <!--</cdk-virtual-scroll-viewport>-->
    </mat-expansion-panel>
  </mat-accordion>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <!--<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>-->
  <button mat-button (click)="submit()" cdkFocusInitial>Create</button>
</div>