/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; */

body {
    background-color: #303030;
}

.cdk-overlay-container {
    position:fixed;
    z-index: 5000 !important;
  }